
.footer {
    bottom: 10px;
    right: 10px;
  }
  
 
  @media (min-width: 768px) {
    .footer {
      bottom: 100px; 
      right: 115px; 
    }
  }

  @media (min-width: 1200px) {
    .footer {
      bottom: 100px; 
      right: 175px; 
    }
  }